{% extends "homework/base.html" %}
{% block content %}
<div class="card">
    <div class="card-header">{{ object.title }}</div>
    <div class="container">
        <h5>Contenu du devoir :</h5>
        <p> {{ object.content }} </p>
        <h5>Classe :</h5>
        <p>{{ object.lecture_session.weekly_lecture.group }}</p>
        <h5>À rendre pour le :</h5>
        <p>{{ object.due_date }}</p>
        {% if object.files.all %}
        <h5>Fichiers :</h5>
        <ul>
            {% for file in object.files.all %}
            <li>
                <a href="/{{ file.path }}">Fichier</a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
{% endblock content %}
