{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% if title %}
    <title>Mes devoirs - {{ title }}</title>
    {% else %}
    <title>Mes devoirs</title>
    {% endif %}
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #A5FF8C;">
            <a class="navbar-brand" href="{% url 'homework-home' %}">Mes devoirs</a>
        </nav>
        <div class="header-image" style="background-image: url('https://i.picsum.photos/id/976/5032/2920.jpg'); height: 10rem; width: auto;"></div>
    </header>
    <main class="pt-3">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header">
                            Navigation
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><a href="{% url 'homework-home' %}">Cours de solfège</a></li>
                            <li class="list-group-item"><a href="#">Infos</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    {% block content %}{% endblock content %}
                </div>
            </div>
        </div>
    </main>
</body>
</html>
