{% extends "homework/base.html" %}
{% block content %}
<div class="calendar card text-light bg-primary">
    <div class="card-header">Les devoirs de la semaine</div>
    {% for assignment in assignments %}
    <div class="card text-dark">
        <div class="card-header">
            <div class="title"><a href="{% url 'assignment-detail' assignment.id %}">{{ assignment.title }}</a></div>
        </div>
        <div class="container">
            <div class="group">{{ assignment.lecture_session}}</div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
